@font-face {
  font-family: "CustomLogoFont";
  src: url("/fonts/proxima-nova-5.woff") format("woff"),
       url("/fonts/proxima-nova-5.woff2") format("woff2");
}

@font-face {
  font-family: "CustomFormFont";
  src: url("/fonts/proxima-nova-thin.woff") format("woff"),
       url("/fonts/proxima-nova-thin.woff2") format("woff2");
}

/* Mobile first approach */
html { 
  box-sizing: border-box;
}

html, body {
  touch-action: manipulation;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;                 /* Fallback */
  min-height: 100dvh;            
  font-family: "CustomFormFont", sans-serif;
  background-color: rgba(221, 228, 231, 0.852);
  overflow-x: hidden;
}

/* Hero */
.logo-section {
  position: relative;
  background-image: url("/img/modern-art.jpg");
  background-size: cover;
  width: auto;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Hero header */ 
.logo-section > div {
  background-color: rgba(247, 247, 247, 0.422);
  width: 100%;
  text-align: center;
  font-family: "CustomLogoFont";
  font-size: clamp(2.5rem, 5.5vw, 6rem);
  letter-spacing: calc(0.05rem + 0.2vw);
  font-weight: bold;
  padding: 0 10px;
  padding-top: 4px;
  padding-right: 60px;
}

/* Logo */
div.logo {
  position: static;
  background-image: url("/img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: clamp(50px, 5vw, 100px);
  height: clamp(50px, 5vw, 100px);
  padding-left: 20px;
}

/* Photo credit */
.logo-section > p {
  position: absolute;
  background-color: rgba(206, 206, 202, 0.8);
  bottom: -8px;
  left: 3px;
  font-size: clamp(0.6rem, 2vw, 1rem);
}

.photo-credit {
  color: rgb(12, 96, 105);
  text-decoration: none;
}

.photo-credit:visited {
  color: none;
}

/* "Sign-Up" heading */
.content-container h1 {
  text-align: center;
  font-size: calc(1.2rem + 2vw);
  position: relative;
  top: 5px;
  text-shadow: 1px 1px 2px rgba(99, 94, 95, 0.6);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* Input text-boxes wrap (no submit button) */
form .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

/* Input labels */
form div.inputs > div > label {
  display: block;
  margin-bottom: 2px;
  font-weight: bolder;
  font-size: clamp(0.9rem, 1.3vw, 1.2rem);
  color: rgb(10, 64, 73);
}

.label-container > label {
  margin-bottom: 2px;
  font-weight: bolder;
  font-size: clamp(0.9rem, 1.3vw, 1.2rem);
  color: rgb(10, 64, 73);
}

/* "Optional" label for phone number input */
form .inputs > div > label > span {
  color: rgba(10, 62, 73, 0.731);
  font-size: clamp(0.65rem, 1.3vw, 1rem);
  font-weight: lighter;
}

/* Each input */
input {
  width: 100%;
  padding: 5px;
  border: 1px solid #bab8b8;
  border-radius: 0.5rem;
  outline: none;
  font-family: "CustomFormFont", sans-serif;
  font-size: clamp(0.8rem, 1.3vw, 1.1rem);
  touch-action: manipulation;
}

input::placeholder {
  color: #bbbaba;
}

.label-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.toggle-password {
  color:rgba(112, 114, 114, 0.99);
  cursor: pointer;
  font-size: clamp(0.65rem, 1.3vw, 1rem);
  padding: 0 3px 0 3px;
  border: 1px solid rgba(146, 144, 144, 0.59);
  border-radius: 1rem;
  align-self: center;
}

.toggle-password:hover {
  transform: scale(1.1);
  background-color: #dae6e3;
}

button[type="submit"] {
  background-color: rgba(227, 229, 224, 0.997);
  border: 1px solid rgba(0, 0, 0, 0.234);
  font-family: "CustomFormFont", sans-serif;
  width: 100%;
  font-size: clamp(1rem, 1.3vw, 1.4rem);
  font-weight: bolder;
  border-radius: 0.5rem;
  height: 40px;
  margin-top: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 0 20px;
  outline: none;
  touch-action: manipulation;
}

button[type=submit]:hover {
  background-color: rgba(223, 231, 207, 0.997);
}

button[type=submit]:active {
  background-color: rgba(230, 238, 196, 0.997);
}

/* "Log in" section */
.content-container p {
  text-align: center;
  font-size: clamp(1rem, 1.3vw, 1.4rem);
  margin-top: 30px;
}

span a[href="#"] {
  text-decoration: none;
  color: green;
  font-weight: bold;
}

span a[href="#"]:active {
  color: rgb(25, 43, 26);
}

/* FORM VALIDATION */

.first-name-error {
  padding-top: 1px;
  display: none;
  position: absolute;
}

.last-name-error {
  padding-top: 1px;
  display: none;
  position: absolute;
}

/* Phone number error style */
span.phone-error {
  display: none;
}

/* Enables select highlighting when placeholder is shown (tel input) */
input:not(:required):placeholder-shown:focus {
  border: 1px solid rgb(31, 40, 194);
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

/* Removes select highlighting when something is typed in input (tel input) */
input:not(:required):valid:focus:not(:placeholder-shown) {
  border: 1px solid green;
  box-shadow: none
}

/* Make border red when invalid phone number format is entered and only in focus mode */
input:not(:required):invalid:focus:not(:placeholder-shown) {
  border: 1px solid red;
  box-shadow: none;
}

/* Display error message */
input:not(:required):invalid:focus:not(:placeholder-shown) + span.phone-error {
  position: absolute;
  display: block;
  color: rgb(170, 13, 13);
  padding-top: 1px; 
}

/* Remove automatic highlighter (default) */
input:not(:required):valid {
  border: 1px solid #bab8b8;;
  box-shadow: none;
}

input:focus {
  border: 1px solid rgb(31, 40, 194);
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

/* Removes green highlighter from pass input and tel input when not all requirements were met */
input:valid:not(input[type="password"]):not(input[type="tel"]) {
  border: 1px solid green;
  box-shadow: none;
}

/* Email error style */

/* Default state */
span.email-error {
  display: none;
  padding-top: 1px;
  color: rgb(170, 13, 13);
  position: absolute;
}

.error-style {
  font-size: clamp(0.6rem, 1vw, 1.0rem);
  color: rgb(31, 2, 59);
}

/* Display error message */
input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + span.email-error,
input[type="email"]:invalid:focus:not(:placeholder-shown) + span.email-error {
  position: absolute;             /* Allows for input itself to not be displaced */
  display: block;
  color: rgb(170, 13, 13);
  padding-top: 1px;                
}

input[type="email"]:invalid:not(:placeholder-shown):not(:focus),
input[type="email"]:invalid:not(:placeholder-shown):focus {
  border: 1px solid red;
  box-shadow: none;
}

/* Password error style */
.password-requirements {
  display: none;
  position: relative;
}

span.pass-match-error,
.pass-message {
  display: none;
  position: absolute;
}

.border-valid,
.border-valid:focus {
  border: 1px solid green;
  box-shadow: none;
}

.border-invalid,
.border-invalid:focus {
  border: 1px solid red;
  box-shadow: none;
}

.pass-valid {
  color: green;
}

.pass-invalid {
  color: red;
}

input[type="password"]#confirm-pass:not(:focus) ~ span.pass-match-error,
input[type="password"]#confirm-pass:focus ~ span.pass-match-error {
  color: rgb(170, 13, 13);
  padding-top: 1px; 
}

.password-disabled {
  background-color: #cccaca3b; 
  opacity: 1; 
  color: #888; 
  cursor: not-allowed;
}

/* Display the requirements when in focus state */
input[type="password"]#password:focus + .password-requirements {
  display: block;
  padding-top: 1px;
}

.password-requirements-focused {
  display: block;
  padding-top: 1px;
}

.pass-message-custom {
  color: rgb(170, 13, 13);
  padding-top: 1px;
}

input[type="password"]#password:not(:focus) ~ span.pass-message {
  color: rgb(170, 13, 13);
  padding-top: 1px;
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  row-gap: 2px;
}

.col-1 .pass-valid::after,
.col-2 .pass-valid::after {
  content: "\2713";
  color: green;
  position: relative;
  left: 4px;
  bottom: -1px;
}

.col-1 .pass-invalid::after,
.col-2 .pass-invalid::after {
  content: "x";
  color: red;
  position: relative;
  left: 4px;
  bottom: 0;
}

.error-style:not(.password-requirements span)::after {
  content: "⚠";
  font-size: clamp(0.5rem, 1vw, 0.7rem);
  position: relative;
  left: 1%;
  bottom: -1px;

  transition: transform 0.2s;
  transform-origin: center;
}

/* On Chrome prevent the background color change on auto-fill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-1px); } 
  20%, 40%, 60%, 80% { transform: translateX(1px); }
}

/* Media query for desktop version */
@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: hidden;
  }

  /* Hero */
  .logo-section {
    width: 40vw;
    min-height: 100vh;
    min-height: 100dvh;
  }

  /* Hero header */ 
  .logo-section > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px 0 10px;
    padding-right: 20px;
  }

  div.logo {
    position: static;                         /* Makes sure it's not relative position */
    width: clamp(40px, 5vw, 100px);
    height: clamp(40px, 5vw, 100px);
    padding-left: 20px;
  }

  /* "Modern Art" header */
  .header-title div:last-child {
    padding: calc(0.4vw * 1) 0 0 0;
    text-wrap: nowrap;
  }

  .logo-section > p {
    position: absolute;
    bottom: -1.5%;
    left: 0;
    padding: 1px 6px 1px 6px;
  }

  /* "Sign-Up" heading */
  .content-container h1 {
    display: flex;
    padding: 30px 50px;
    margin-bottom: -20px;
  }

  form div.inputs > div > label {
    margin-bottom: 3px;
  }

  form {
    width: 60vw;
    display: flex;
    align-items: flex-start;
  }

  .content-container {
    height: 30vh;
    position: relative;
    top: -190px;
  }

  /* Input text-boxes wrap (no submit button) */              
  form .inputs {
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;                              /* Allow flex items to wrap into multiple rows */
    justify-content: flex-start;
    align-items: center;
    padding: 80px 50px;
    background-color: rgb(233, 239, 239);
    box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.2);
    column-gap: 90px;
    row-gap: 35px;
  }

  input {
    width: min(18vw, 400px);
    height: min(4vh, 40px);
    border-radius: 0.6rem;
  } 

  .toggle-password {
    padding: 0 7px 0 7px;
    margin-bottom: 1px;
  }

  button[type="submit"] {
    width: calc(9vw + 80px);
    height: 55px;
    border-radius: 0.6rem;
    text-align: center;
  }

  /* Submit button */
  form div.inputs + div {
    padding: 0 0 0 50px;
    margin-top: 10px;
    position: relative;
  }

  /* "Log in" section */
  .content-container  p {
    padding: 0 0 0 50px;
    text-align: start;
  }

  span.email-error {
    padding-top: 3px;
    position: absolute;
  }

  .password-requirements {
    position: absolute;
  }

  .col-1,
  .col-2 {
    display: flex;
    flex-direction: column;
    padding: 0;
    row-gap: 5px;
  }

  input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + span.email-error,
  input[type="email"]:invalid:focus:not(:placeholder-shown) + span.email-error,
  input:not(:required):invalid:focus:not(:placeholder-shown) + span.phone-error,
  input[type="password"]#password:not(:focus) ~ span.pass-message,
  input[type="password"]#confirm-pass:focus ~ span.pass-match-error, 
  input[type="password"]#confirm-pass:not(:focus) ~ span.pass-match-error,
  .first-name-error,
  .last-name-error {
    padding-top: 3px;                
  }

  /* Display the requirements when in focus state */
  input[type="password"]#password:focus + .password-requirements {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    height: 70px;
  }

  /* For JS */
  .password-requirements-focused {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    height: 70px;
  }

  .pass-message-custom {
    padding-top: 3px;
  }

  .col-1 .pass-valid::after,
  .col-2 .pass-valid::after {
    content: "\2713";
    color: green;
    position: relative;
    left: 4px;
    bottom: -1px;
  }
  
  .col-1 .pass-invalid::after,
  .col-2 .pass-invalid::after {
    content: "x";
    color: red;
    position: relative;
    left: 4px;
    bottom: 0;
  }

  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-2px); } 
    20%, 40%, 60%, 80% { transform: translateX(2px); }
  }
}
